@{
    ViewBag.Title = "Azure Networking Lab";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Azure Networking Labs</h1>
<div class="label-default">
    <h3>1. Configure SLB Lab environment using ARM Template</h3>
</div>
<div>
    <table class="table table-striped">
        <tr>
            <td>
                <p>
                    본 템플릿은 2대 Linux VM에 홈페이지를 자동 구성하여 LB 를 실습할 수 있는 환경을 제공합니다.<br />
                    ARM 템플릿으로 실습 환경 구성에는 약 5분정도 시간이 소요될 수 있습니다.<br />
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    1) ARM Template으로 <a href="https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fwebinarhub.blob.core.windows.net%2Fazurehol%2Fazuredeploy.json " target="_blank" class="btn-link">실습 기본 환경 구성하기</a>
                </p>
                <p>
                    <h4> 실습 아키텍쳐<br /> </h4>
                    <img src="~/Content/MN102_architecture(3) .png" style="height: 500px; width:auto">
                </p>
            </td>
        </tr>
    </table>
</div>

<div class="label-default">
    <h3>2. VNet-to-VNet Lab environment ARM Template: Windows RRAS VM 구성하기</h3>
</div>
<div>
    <p>
        본 템플릿은 1개 Windows VM을 10.3.0.0/24에 자동 구성하여 VNet-to-VNet실습 중 Site-to-Site를 실습할 수 있는 환경을 제공합니다.
    </p>
    <p>
        1) ARM Template으로 <a href="https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Fxlegend1024%2FAzureTrainingLab%2Fmaster%2FAzureTraining%2FARMTemplate%2FWin_RRAS_azuredeploy.json" target="_blank" class="btn-link">Windowns Server RRAS VM 생성</a>
    </p>
    <p>
        2) RRAS 설치 Powershell 명령
        <div>
            <table>
                <tr>
                    <td>
                        <div>아래 명령을 복사하여 PowerShell 에서 실행합니다.</div>
                    </td>
                </tr>
                <tr class="alert-success">
                    <td class="table-bordered text-info" width="630">
                        Import-Module ServerManager<br />
                        Install-WindowsFeature RemoteAccess -IncludeManagementTools<br />
                        Add-WindowsFeature -name Routing -IncludeManagementTools<br />
                        <br />
                        Import-Module RemoteAccess<br />
                        if ((Get-RemoteAccess).VpnS2SStatus -ne "Installed")<br />
                        {<br />
                        Install-RemoteAccess -VpnType VpnS2S<br />
                        }<br />
                    </td>
                </tr>
            </table>
        </div>
    </p>
    <p>
        3) RRAS 를 설정합니다.
        <table class="table table-striped">
            <tr>
                <td>
                    <div>1</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_16.png" style="height: 500px; width:auto">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>2</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_26.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>3</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_28.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>4</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_29.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>5</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_30.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>6</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_31.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>7</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_33.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>8</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_34.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>9</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_35.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>10</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_36.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>11</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_37.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>12</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_38.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>13</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_39.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>14</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_40.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>15</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_41.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>16</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_42.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>17</div>
                </td>
                <td>
                    <div class="table-bordered">
                        <img src="~/Content/Win_RRAS_43.png" />
                    </div>
                </td>
            </tr>
        </table>
</div>

