
@{
    ViewBag.Title = "Lab101";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Virtual Machine (Linux)</h2>

<a href="https://webinarhub.blob.core.windows.net/azurehol/1.%20Create%20Virtual%20Machine%20(Ubuntu).docx" target="_blank">문서 다운로드</a>

