@{
    ViewBag.Title = "Networking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configure SLB</h2>
<p>
    <a href="https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fwebinarhub.blob.core.windows.net%2Fazurehol%2Fazuredeploy.json " target="_blank">실습 기본 환경 구성하기</a>
</p>

<h2>VNet-to-VNet: Windows RRAS VM 구성하기</h2>
<p>
    1. <a href="https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fwebinarhub.blob.core.windows.net%2Fazurehol%2FWin_RRAS_azuredeploy.json " target="_blank">Windowns Server RRAS VM 생성</a>
</p>
<p>
    2. <a href="https://webinarhub.blob.core.windows.net/azurehol/Win2012R2_RRAS_InstallPS.ps1" target="_blank">Windows Server RRAS 설치 PowerShell</a>
</p>

<p>
    3. <a href="https://webinarhub.blob.core.windows.net/azurehol/Certificate.zip">P2S 인증서 샘플</a>
</p>


