@{
    ViewBag.Title = "HOL #11";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top">
    <div class="panel-heading">
        <h1>OMS get start</h1>
        <p class="panel-body">
            Create Operational Insights and add linux vm to monitor<br />
        </p>
    </div>
</div>

<div class="alert-info">
    <a href="~/Content/StartOMS.mht"> Go to OMS 101 </a>
</div>