@model IEnumerable<AzureTraining.Models.WebinarVideo>
@{
    ViewBag.Title = "OpenEDX";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert-danger" style="text-align:center">
    <p>
        외부로부터 수집한 Azure 온라인 (영문) 교육 링크입니다.
    </p>
</div>

<div>
    <p><h1 class="active">공개 Azure 교육 과정</h1></p> <br />
    <table class="table-striped" style="width:100%">
        @if (Model != null)
        {
            foreach (AzureTraining.Models.WebinarVideo item in Model)
            {
                <tr style="height:50px; ">
                    <td style="text-align:center; width:40px">
                        @item.name
                    </td>
                    <td>
                        <b>@item.url</b>
                    </td>
                    <td>
                        Click: <a href="@item.desc">@item.desc</a>
                    </td>
                </tr>
            };
        }
    </table>
</div>

