@{
    ViewBag.Title = "Lab20";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create VMs Portal</h1><br />
<div>
    <h2>Scenario</h2>
    <p>
        Create two classic VMs.
    </p>
    <p>
        1. Create Windows VM using Azure Service Manger at Azure Management Portal.<br />
        When VM is created, Virtual Network, Cloud Service and Storage are created within a Resource Group.
    </p>
    <div>
        <table style="width:300px;" class="table table-striped table-bordered" align="center">
            <tr class="col">
                <td>
                    <iframe src="//aka.ms/azuremediaplayeriframe?url=https%3A%2F%2Fwebinarhub.blob.core.windows.net%2Fasset-7210503a-0d00-80c4-1fe5-f1e5b2b9e832%2F%5BASM%5D%25201%2520create%2520azure%2520vm%25203%2520mins.mp4%3Fsv%3D2012-02-12%26sr%3Dc%26si%3Df24bd3be-2e18-4792-a351-462d0cc82b6d%26sig%3Di8cPTcjQKTpGgJ%252B9ta5MFf4yERTAAui%252FTBBAFsZqqjk%253D%26st%3D2016-01-04T08%253A05%253A41Z%26se%3D2115-12-11T08%253A05%253A41Z&autoplay=false" name="azuremediaplayer" scrolling="no" frameborder="no" align="center" height="280px" width="500px" allowfullscreen></iframe>
                </td>
            </tr>
        </table>
    </div>
    <p>
        2. Add additional VM when the first VM is created.<br />
        The 2nd VM will be created within the Resource Group.
    </p>
    <div>
        <table style="width:300px;" class="table table-striped table-bordered" align="center">
            <tr class="col">
                <td>
                    <iframe src="//aka.ms/azuremediaplayeriframe?url=https%3A%2F%2Fwebinarhub.blob.core.windows.net%2Fasset-0a18503a-0d00-80c4-7f72-f1e5b2c2eeda%2F%5BASM%5D%25202%2520add%2520azure%2520vm%25203%2520mins.mp4%3Fsv%3D2012-02-12%26sr%3Dc%26si%3Db6c77a5d-c50a-4fde-9f21-72be01f08596%26sig%3DfuOTvKS0hxPlE177NUMrtswuBrN%252FgmMrX5V4G5cpVK8%253D%26st%3D2016-01-04T09%253A10%253A52Z%26se%3D2115-12-11T09%253A10%253A52Z&autoplay=false" name="azuremediaplayer" scrolling="no" frameborder="no" align="center" height="280px" width="500px" allowfullscreen></iframe>
                </td>
            </tr>
        </table>
    </div>
</div>
