@{
    ViewBag.Title = "Azure ARM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel-heading">
    <h2>Azure Resource Manager Demo</h2>
</div>
<div class="panel-body">
    <p class="media-heading">
        <h3>Demo Video. (8 mins) - no audio</h3>
    </p>
    <p class="media-body">
        <video width="500" height="280" controls class="media-body" style="border: outset">
            <source class="media-object" src="http://webinarhub.blob.core.windows.net/javaonazure/Azure%20ARM%20install%20Linux%20Apache%20by%20Run%20Script.mp4 " type="video/mp4">
        </video>
    </p>
    <p class="text-info">
        <h3>During the demo, Azure runs following script when VM is provisioned.</h3>
    </p>
    <p class="text-info">
        <b>Install Apache and download Web App automatically.</b>
    </p>
    <p class="text-info">
        <ol class="alert-success list-group-item">
            #!/bin/bash
            <br />
            apt-get -y update
            <br />
            <br />
            # install Apache2
            <br />
            apt-get -y install apache2
            <br />
            <br />
            cd /var/www/html
            <br />
            wget http://webinarhub.blob.core.windows.net/javaonazure/web.tar
            <br />
            tar zxvf ./web.tar
            <br />
        </ol>
    </p>
    <br />
    <p class="active">Click Following link to run the sample.</p>
    <p class="btn">
        <a class="btn btn-default alert-danger" href="https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Fxlegend1024%2FmyARMTemplates%2Fmaster%2Farm-temp-web%2FARM_Template_Ubt-apache-web.json">Deploy Ubuntu VM with Apache and Sample WEB</a>
    </p>
</div>
<div>
    <p class="img-rounded">
        <img class="img-thumbnail" src="~/Content/ARM_Screen_2.png" style="width: 60%; height: 60%" /><br />
    </p>
</div>
