@using AzureTraining.Models
@model IEnumerable<AzureTraining.Models.TrainingDeck>
@{
    ViewBag.Title = "Resource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Microsoft Azure Infrastructure Services Training Decks</h2>
<div style="align-content: center">
    <table style="width:100%;" class="table table-striped table-bordered">
        <tr align="center"><td>주제&nbsp;</td><td>링크&nbsp;</td></tr>
        @if (Model != null)
        {
            foreach (AzureTraining.Models.TrainingDeck item in Model)
            {
                <tr>
                    <td>
                        @if (item.url.Length < 2)
                        {
                            <b class="alert-info">@item.name</b>
                        }
                        else
                        {
                            @item.name
                        }
                    </td>
                    <td align="center">
                        @if (item.url.Length < 2)
                        {
                            
                        }
                        else
                        {
                            <a href="@item.url" target="_blank">Download</a>
                        }
                    </td>
                </tr>
            };
        }
    </table>
</div>

<hr />
<h2>IoT Hub SDK</h2>
<table class="item tooltip">
    <tr class="alert-info">
        <td>
            <a href="https://github.com/Azure/azure-iot-sdks">바로 가기</a>
        </td>
    </tr>
    <tr>
        <td style="border:medium">
            <img src="~/Content/IoT Hub SDK.png" style="width: 470px; height: 181px" />
        </td>
    </tr>
</table>